<!-- Copyright (c) 2016 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="udd-widget-layout-template">
    <!-- TODO: Implement common handlebar template for WidgetView -->
</script>